@inherits LayoutComponentBase
@implements IDisposable
@using Bilog.Data;
@using Bilog.Data.Models;
@inject IJSRuntime JSRuntime
@inject GeneralSettingsService _GeneralSettingsService
<AuthorizeView Roles="Admin, Administrators, Administrator">
    <Authorized>
        <BlazoredToasts />
        <div class="wrapper ">

            <AdminMenu />
            <div class="main-panel">
                <AdminMenuSub />
                @Body

                <footer class="footer footer-black  footer-white ">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="credits ml-auto">
                                <span class="copyright">
                                    @DateTime.Now.Year Muayyat Billah
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        Sorry nothing found here
    </NotAuthorized>
    </AuthorizeView>
    @code {
        GeneralSettings objGeneralSettings = new GeneralSettings();
      
        protected override async Task OnInitializedAsync()
        {
          

            await LoadGeneralSettingsAsync();
        }

        protected override async Task
             OnAfterRenderAsync(bool firstRender)
        {
           
        }

        protected async Task LoadGeneralSettingsAsync()
        {
            objGeneralSettings = await _GeneralSettingsService.GetGeneralSettingsAsync();
        }

       
        void IDisposable.Dispose()
        {
        }
    }
