@inherits LayoutComponentBase
@implements IDisposable
@using Bilog.Data;
@using Bilog.Data.Models;
@inject IJSRuntime JSRuntime
@inject GeneralSettingsService _GeneralSettingsService
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#pablo">@objGeneralSettings.ApplicationName Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav" style="background:white;">
                <li class="nav-item">
                    <a class="nav-link btn-magnify" href="">
                        <i class="nc-icon nc-layout-11"></i>
                        <p>
                            <span class="d-lg-none d-md-block">View Website</span>
                        </p>
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link btn-rotate" href="dashboard/settings">
                        <i class="nc-icon nc-settings-gear-65"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
@code {
    GeneralSettings objGeneralSettings = new GeneralSettings();

    protected override async Task OnInitializedAsync()
    {


        await LoadGeneralSettingsAsync();
    }

    protected override async Task
         OnAfterRenderAsync(bool firstRender)
    {

    }

    protected async Task LoadGeneralSettingsAsync()
    {
        objGeneralSettings = await _GeneralSettingsService.GetGeneralSettingsAsync();
    }


    void IDisposable.Dispose()
    {
    }
}
